{% extends "layout.html" %}

{% block title %}
Book Details
{% endblock %}

{% block main %}
<!-- show all reviews that users have left on my page + show 
     f) avg. rating and the g) number of ratings  on Goodreads via their API
-->

<!-- Table to display chosen book -->
<table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Published</th>
            <th>Avg. Rating here </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td> {{ bookdet.isbn }} </td> 
                <td> {{ bookdet.title }} </td>
                <td> {{ bookdet.author }} </td>
                <td> {{ bookdet.year }} </td>
                <td> 
                {% if numberofownrev > 0 %}
                    <!-- plain version instead of stars: {{ '%0.1f' % own_avg_rating|float }} / 5.0 ({{ numberofownrev }} ratings) -->
                    <!-- add checked stars according to rating, 1 is the minimum -->
                    {{ '%0.1f' % own_avg_rating|float }} <span class="fa fa-star checked"></span> 
                    {% if own_avg_rating >= 1.5 %}
                            <span class="fa fa-star checked"></span>
                    {% endif %}
                    {% if own_avg_rating >= 2.5 %}
                            <span class="fa fa-star checked"></span>
                    {% endif %}
                    {% if own_avg_rating >= 3.5 %}
                            <span class="fa fa-star checked"></span>
                    {% endif %}
                    {% if own_avg_rating >= 4.5 %}
                            <span class="fa fa-star checked"></span>
                    {% endif %}
                    <!-- fill up with empty stars according to rating -->
                    {% if own_avg_rating >= 4.5 %}
                    {% elif own_avg_rating >= 3.5 %}
                        <span class="fa fa-star"></span>
                    {% elif own_avg_rating >= 2.5 %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% elif own_avg_rating >= 1.5 %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% else %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star "></span>
                    {% endif %}
                    in {{ numberofownrev }} ratings
                {% else %}
                    no ratings
                {% endif %}
                </td>
            </tr>
    </tbody>
</table>


<div>
    {% if GR_ratings_count|int > 0 %}
        <h4> Rating on Goodreads: {{ '%0.1f' % GR_ratings_avg|float }}/5.0 in {{ GR_ratings_count|int }} ratings </h4>
    {% else %}
        <h4> No ratings on Goodreads available for this book </h4>
    {% endif %}
</div>


<!-- link as a button (using bootstrap class) to composereview as GET, inlcuding isbn -->
{% if hidebutton is sameas false %}
    <a class="btn btn-primary" type="button" href="{{ url_for('composereview', isbn=bookdet.isbn) }}">Compose Review</a>
{% endif %}


<!-- show own reviews here -->
<div class="container m-5">
    <h2 class="text-left">User reviews</h2>
    {% if own_reviewsisbn|length %}
        {% for review in own_reviewsisbn %}
            <div class="col-9 p-1 mb-3 align-self-center" style="background-color: rgb(190, 200, 243);">
                <div class="row"> 
                    <div class="col-3 p-1 ml-1" style="background-color: rgb(255, 255, 255);">
                        <div clas="row">{{review.username}}</div>
                        <div clas="row">rated at: {{review.rev_rating}}</div>
                    </div>
                    <div class="col text-left">{{review.rev_text}}</div> 
                </div>               
            </div> 
        {% endfor %}
    {% else %}
        <h3> No reviews found, be the first to write one! </h3>
    {% endif %}
</div>

{% endblock %}