{% extends "layout.html" %}

{% block title %}
Book Details
{% endblock %}

{% block main %}
<!-- implement: add all reviews that users have left on my page
                    5) also show on that page the f) avg. rating and the g) number of ratings  on Goodreads via their API
-->

<h1>Reviews for: </h1>

<!-- Table to display chosen book -->
<table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Published</th>
            <th>Avg. Rating here </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td> {{ bookdet.isbn }} </td> 
                <td> {{ bookdet.title }} </td>
                <td> {{ bookdet.author }} </td>
                <td> {{ bookdet.year }} </td>
                <td> 
                {% if numberofownrev > 0 %}
                    <!-- plain version instead of stars: {{ '%0.1f' % own_avg_rating|float }} / 5.0 ({{ numberofownrev }} ratings) -->
                    <!-- add checked stars according to rating -->
                    <span class="fa fa-star checked"></span>
                    {% if own_avg_rating > 1.5 %}
                            <span class="fa fa-star checked"></span>
                    {% endif %}
                    {% if own_avg_rating > 2.5 %}
                            <span class="fa fa-star checked"></span>
                    {% endif %}
                    {% if own_avg_rating > 4.5 %}
                            <span class="fa fa-star checked"></span>
                    {% endif %}
                    <!-- fill up with empty stars according to rating -->
                    {% if own_avg_rating > 4.5 %}
                    {% elif own_avg_rating > 3.5 %}
                        <span class="fa fa-star"></span>
                    {% elif own_avg_rating > 2.5 %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% elif own_avg_rating > 1.5 %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% else %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star "></span>
                    {% endif %}
                    in {{ numberofownrev }} ratings
                {% else %}
                    no ratings
                {% endif %}
                </td>
            </tr>
    </tbody>
</table>

<!-- link as a button (using bootstrap class) to composereview as GET, inlcuding isbn -->
{% if hidebutton is sameas false %}
    <a class="btn btn-primary" type="button" href="{{ url_for('composereview', isbn=bookdet.isbn) }}">Compose Review</a>
{% endif %}


<!-- show reviews and ratings here -->
<div>
    {% if own_reviewsisbn|length %}
        
        {% for review in own_reviewsisbn %}
            <div>
                {{review.rev_text}}
            </div>    
        {% endfor %}
    {% else %}
    <h3> No reviews found, be the first to write one! </h3>
    {% endif %}
</div>


<div>

</div>

{% endblock %}