{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <!-- {{ form.username.label }}<br> -->
            {{ form.username(class="form-control", autofocus="on", autocomplete="off", placeholder="Username", type="text") }}
            {% for error in form.username.errors %}
            <span style="color: red; width:50px; display: inline-block;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <!-- {{ form.password.label }}<br> -->
            {{ form.password(class="form-control", autofocus="off", autocomplete="off", placeholder="Password", type="text") }}
            {% for error in form.password.errors %}
            <span style="color: red; width:50px; display: inline-block;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
        <!-- <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p> -->
        <a class="btn btn-secondary" type="button" href="{{ url_for('register') }}">Register</a>
    </form>
    
{% endblock %}
