{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <!-- {{ form.username.label }}<br> -->
            {{ form.username(class="form-control", autofocus="on", autocomplete="off", placeholder="Username", type="text") }}
        </p>
        <p>
            <!-- {{ form.password.label }}<br> -->
            {{ form.password(class="form-control", autofocus="on", autocomplete="off", placeholder="E-Mail Address", type="text") }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
    
{% endblock %}
